In [14]:
import pandas as pd
import os 
pd.set_option("display.max_column",None)
pd.set_option("display.width",1000)

In [15]:
sales = pd.read_excel("eletronic_sales.xlsx")
sales.head(200)
sales.describe()

                      Date      Units       Price
count                   43  43.000000   43.000000
mean   2014-12-29 00:00:00  49.325581   20.308605
min    2014-01-06 00:00:00   2.000000    1.290000
25%    2014-07-03 12:00:00  27.500000    3.990000
50%    2014-12-29 00:00:00  53.000000    4.990000
75%    2015-06-25 12:00:00  74.500000   17.990000
max    2015-12-21 00:00:00  96.000000  275.000000
std                    NaN  30.078248   47.345118

In [13]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         43 non-null     datetime64[ns]
 1   Branch       43 non-null     object
 2   Sales Agent  43 non-null     object
 3   Products     43 non-null     object
 4   Units        43 non-null     int64
 5   Price        43 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 2.1+ KB

Index(['Date', 'Branch', 'Sales Agent', 'Products', 'Units', 'Price'], dtype='object')