Import pandas package

In [95]:
import pandas as pd
pd.set_option("display.max_column",None)
pd.set_option("display.width",1000)

In [96]:
data = [1,2,3,4,5,6,7,8,9,10]
series = pd.Series(data)

series.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [97]:
type(series)

pandas.core.series.Series

In [98]:
series2 = pd.Series(data, index = ["a","b","c","d","e","f","g","h","i","j"])
series2.head(10)

a     1
b     2
c     3
d     4
e     5
f     6
g     7
h     8
i     9
j    10
dtype: int64

In [99]:
#creating a series using python dictionary
data2= {"a":10,"b":20, "c":30}

series3 =pd.Series(data2)
series3.head()

a    10
b    20
c    30
dtype: int64

In [100]:
items = ["mop","bucket","tissue","soap","plates","haircream"]
series = pd.Series(items, index=[1,2,3,4,5,6])
series.head()


itemdict={
    "Name":"Hamid",
    "Age": 35,
    "Track": "AIEngineering",
    "items": items
}

series4=pd.Series(itemdict)
series4.head()

Name                                              Hamid
Age                                                  35
Track                                     AIEngineering
items    [mop, bucket, tissue, soap, plates, haircream]
dtype: object

In [101]:
data = {
    'Name': ['Chris', 'Ayo', 'Chisom'],
    'Age': [26, 24, 22],
    'Home_Town': ['Benin', 'Ibadan', 'Enugu']
}

# Lets create the dataframe using "df" as short for dataframe
df = pd.DataFrame(data, index=[1,2,3])
df.head()

     Name  Age Home_Town
1   Chris   26     Benin
2     Ayo   24    Ibadan
3  Chisom   22     Enugu

In [102]:
# lets do the samething by using list of dictionaries
data2 = [
    {'Name': 'Chris', 'Age': 26, 'Home_Town': 'Benin'},
    {'Name': 'Ayo', 'Age': 24, 'Home_Town': 'Ibadan'},
    {'Name': 'Chisom', 'Age': 22, 'Home_Town': 'Enugu'}
]

df2 = pd.DataFrame(data2)
df2.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [103]:
#using list of list
data3 = [
    ['Chris', 26, 'Benin'],
    ['Ayo', 24, 'Ibadan'],
    ['Chisom', 22, 'Enugu']
]

df3 = pd.DataFrame(data3, columns=['Name', 'Age', 'Home_Town'])
df3.head()

     Name  Age Home_Town
0   Chris   26     Benin
1     Ayo   24    Ibadan
2  Chisom   22     Enugu

In [104]:
print(type(df))
print(type(df2))
print(type(df3))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
df= pd.read_csv(r"C:\Users\ncc7888\Desktop\DataAnddata_analysis\Classinfo.csv")
df.head()
df.tail()
df.info()
df.describe()
df.shape
df.columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Timestamp     34 non-null     object
 1   First Name    34 non-null     object
 2   Last Name     34 non-null     object
 3   Course Track  33 non-null     object
 4   City          34 non-null     object
 5   Gender        34 non-null     object
 6   Seat Number   34 non-null     object
 7   PC-Make       34 non-null     object
 8   PC - OS       34 non-null     object
 9   Feedback      34 non-null     object
dtypes: object(10)
memory usage: 2.8+ KB

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City', 'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'], dtype='object')

In [106]:
df.isnull() #or df.isna
df.isnull().sum()
df.fillna(0)

                       Timestamp     First Name    Last Name                    Course Track       City  Gender Seat Number                       PC-Make  PC - OS                                           Feedback
0   2025/09/11 12:55:34 PM GMT+1          Peter      Okonmah                              AI       Ogun    Male          28                       MACBOOK   Mac OS                                                non
1   2025/09/11 12:56:11 PM GMT+1       Toyeebat       Nababa                              AI   Abeokuta  Female          24                            HP  Windows                                          Excellent
2   2025/09/11 12:57:08 PM GMT+1      Perpetual      Meninwa                              AI      Lagos  Female          22                            HP  Windows             Thank you so much for the opportunity.
3   2025/09/11 12:57:56 PM GMT+1         Mahfuz  Abdulhameed                              AI   Abeokuta    Male          44                            HP  Windows                                       Amazing Shit
4   2025/09/11 12:58:41 PM GMT+1         Divine    Gbadamosi                              AI   Abeokuta    Male          35                          DELL  Windows                                      Brain Racking
5   2025/09/11 12:58:55 PM GMT+1     Abdulmalik     Adedotun                              AI   Abeokuta    Male         200                            HP  Windows                         Enjoying the course so far
6   2025/09/11 12:58:55 PM GMT+1       Naheemot      Adebiyi                              AI   Abeokuta  Female          32                          DELL  Windows           Grateful for the opportunity to be here.
7   2025/09/11 12:59:00 PM GMT+1      Kanyisola      Fagbayi                 AI;Data Science      Lagos  Female       00082                            HP  Windows                One chin chin for you for this form
8   2025/09/11 12:59:16 PM GMT+1       Blessing        James                  Cyber Security    Nairobi  Female       45678                            HP  Windows                      Thanks for creating the form.
9   2025/09/11 12:59:28 PM GMT+1         Hannah     Tanimola                              AI   Abeokuta    Male          30                            HP  Windows                                             On God
10  2025/09/11 12:59:41 PM GMT+1        Deborah     Adelegan                 AI;Data Science   Abeokuta  Female         001                            HP  Windows                                       None for now
11  2025/09/11 12:59:43 PM GMT+1         Esther       Kudoro                              AI   Abeokuta  Female           1                            HP  Windows                                              Chill
12   2025/09/11 1:00:03 PM GMT+1        Opeyemi      Odejimi                 Cloud Computing   Abeokuta    Male          38                            HP    Linux                                              Na wa
13   2025/09/11 1:00:13 PM GMT+1    Olasunkanmi        Rasak                              AI     Kobape    Male           3                            HP  Windows  My gratitude to the sponsor of this program an...
14   2025/09/11 1:00:27 PM GMT+1         Saheed     Olayinka         AI;Data Science;Web Dev   Abeokuta    Male          29                            HP  Windows                                       None for now
15   2025/09/11 1:00:31 PM GMT+1       Kehinde      Akindele                 Cloud Computing   Abeokuta    Male          54                       Gateway  Windows                                              Great
16   2025/09/11 1:00:43 PM GMT+1        Oluwole      Oludayo                              AI   Abeokuta    Male          09                            HP  Windows                            Good training to attend
17   2025/09/11 1:00:49 PM GMT+1         Samuel     Oyewusi                          Web Dev      Lagos    Male          15                            HP  Windows                                       Satisfactory
18   2025/09/11 1:00:54 PM GMT+1        Ademola    Akinrinde                              AI   Abeokuta    Male         100                       MACBOOK   Mac OS                                   Awesome shit\n\n
19   2025/09/11 1:01:31 PM GMT+1         Victor    Ademuyiwa                               0     kobape    Male           2                          ASUS  Windows                                         Feels good
20   2025/09/11 1:01:44 PM GMT+1         Sherif  Okemakinde                               AI  Abeokuta     Male          27                            HP  Windows                                        Form filled
21   2025/09/11 1:01:46 PM GMT+1          Ayuba         Raji                              AI   Abeokuta    Male          26                            HP  Windows                                       None for now
22   2025/09/11 1:01:54 PM GMT+1          Hamid        Jimoh                              AI     Ibadan    Male         299                          DELL  Windows                                      I am curious
23   2025/09/11 1:02:28 PM GMT+1        Olajide       Abioye                              AI   Abeokuta    Male           5                            HP  Windows  So far, i getting to familarize myself with nu...
24   2025/09/11 1:02:49 PM GMT+1        Solomon       Olaiya                              AI   Abeokuta    Male          16                       MACBOOK   Mac OS                            Delighted learning here
25   2025/09/11 1:02:56 PM GMT+1  Oluwadamilare        Bello                              AI      Sango    Male         373  DELL;HP;LENOVO;MACBOOK;ASUS;   Mac OS          Coding is interesting when you understand
26   2025/09/11 1:02:59 PM GMT+1      Oluwaseyi     Egunjobi                 Cloud Computing  Cape Town    Male       dirty                       MACBOOK   Mac OS                               Nice to meet you all
27   2025/09/11 1:03:12 PM GMT+1         Adeoye         Mary                              AI   abeokuta  Female          15                        LENOVO  Windows                                   Still processing
28   2025/09/11 1:03:36 PM GMT+1      Babatunde       Rahmon                              AI   Abeokuta    Male          20                          none  Windows  i actually have a pc that has a very low stora...
29   2025/09/11 1:06:03 PM GMT+1         Samuel      Dasaolu                              AI   Abeokuta    Male         100                    HP;MACBOOK    Linux                               Good so far, i guess
30   2025/09/11 1:06:48 PM GMT+1        Gabriel     Bamgbose                              AI   Abeokuta    Male           2                            HP  Windows                                               Good
31   2025/09/11 1:10:16 PM GMT+1    Ridwanullah         Osho  AI;Cyber Security;Data Science   Abeokuta    Male          45                          DELL  Windows                               IT IS WHAT IT IS !!!
32   2025/09/11 1:11:39 PM GMT+1    Oluwapelumi      Adenuga                         Web Dev   Abeokuta    Male          36                            HP  Windows                                         live yours
33   2025/09/11 1:18:15 PM GMT+1        Michael      Osisami                              AI   Abeokuta    Male          12                       DELL;HP  Windows                                                Nil

In [114]:
df.duplicated()
df.dtypes
df.columns

Index(['Timestamp', 'First Name', 'Last Name', 'Course Track', 'City', 'Gender', 'Seat Number', 'PC-Make', 'PC - OS', 'Feedback'], dtype='object')

In [125]:
df["Timestamp"]
df[['First Name', 'Last Name']]
pd.to_datetime(df["Timestamp"])

C:\Users\ncc7888\AppData\Local\Temp\ipykernel_552\3673090680.py:3: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  pd.to_datetime(df["Timestamp"])

0    2025-09-11 12:55:34-01:00
1    2025-09-11 12:56:11-01:00
2    2025-09-11 12:57:08-01:00
3    2025-09-11 12:57:56-01:00
4    2025-09-11 12:58:41-01:00
5    2025-09-11 12:58:55-01:00
6    2025-09-11 12:58:55-01:00
7    2025-09-11 12:59:00-01:00
8    2025-09-11 12:59:16-01:00
9    2025-09-11 12:59:28-01:00
10   2025-09-11 12:59:41-01:00
11   2025-09-11 12:59:43-01:00
12   2025-09-11 13:00:03-01:00
13   2025-09-11 13:00:13-01:00
14   2025-09-11 13:00:27-01:00
15   2025-09-11 13:00:31-01:00
16   2025-09-11 13:00:43-01:00
17   2025-09-11 13:00:49-01:00
18   2025-09-11 13:00:54-01:00
19   2025-09-11 13:01:31-01:00
20   2025-09-11 13:01:44-01:00
21   2025-09-11 13:01:46-01:00
22   2025-09-11 13:01:54-01:00
23   2025-09-11 13:02:28-01:00
24   2025-09-11 13:02:49-01:00
25   2025-09-11 13:02:56-01:00
26   2025-09-11 13:02:59-01:00
27   2025-09-11 13:03:12-01:00
28   2025-09-11 13:03:36-01:00
29   2025-09-11 13:06:03-01:00
30   2025-09-11 13:06:48-01:00
31   2025-09-11 13:10:16-01:00
32   2025-09-11 13:11:39-01:00
33   2025-09-11 13:18:15-01:00
Name: Timestamp, dtype: datetime64[ns, UTC-01:00]

In [132]:
df["First Name"][2]
df.at[0,"First Name"]
df.iat[0,3]

'AI'

In [157]:
#iloc and loc is for selecting rows 
df.iloc[1:5]

                      Timestamp First Name    Last Name Course Track      City  Gender Seat Number PC-Make  PC - OS                                Feedback
1  2025/09/11 12:56:11 PM GMT+1   Toyeebat       Nababa           AI  Abeokuta  Female          24      HP  Windows                               Excellent
2  2025/09/11 12:57:08 PM GMT+1  Perpetual      Meninwa           AI     Lagos  Female          22      HP  Windows  Thank you so much for the opportunity.
3  2025/09/11 12:57:56 PM GMT+1     Mahfuz  Abdulhameed           AI  Abeokuta    Male          44      HP  Windows                            Amazing Shit
4  2025/09/11 12:58:41 PM GMT+1     Divine    Gbadamosi           AI  Abeokuta    Male          35    DELL  Windows                           Brain Racking